---
import Header from "../components/Header.astro";
import PageHeader from "../components/PageHeader.astro";
import SectionMeta from "../components/SectionMeta.astro";
import Layout from "../layouts/Layout.astro";
import therapies from "../assets/category";
import brands from "../assets/brands";
import Footer from "../components/Footer/Footer.astro";
import list from "../assets/data.json";
import CenteredMainLayout from "../layouts/CenteredMainLayout.astro";
import Spacer from "../components/spacer.astro";
import HeaderSpacer from "../components/HeaderSpacer.astro";
---

<Layout title="Catalog">
  <HeaderSpacer />
  <Header />
  <PageHeader
    url="/pills.jpg"
    section="Products"
    title="Our Catalog for Generic Drugs"
    subHeader="See our catalog of products"
  />
  <Spacer />
  <CenteredMainLayout>
    <div id='search'>
    <label for="product-name">Product Name</label>
    <input id="searchbar" type="text" placeholder="Type Here" />
    </div>
    <div id="filter">
      <div>
        <label for="therapeutic-category">Therapeutic Category</label>
        <div class='select-container'>
          <select id="select-therapy" name="therapeutic-category">
            {therapies.map((item) => <option value={item}>{item}</option>)}
          </select>
          <button id="clear-therapy">Clear</button>
        </div>
      </div>
      <div id="brand-container">
        <label for="brand-name">Brand Name</label>
        <div class='select-container'>
          <select id="select-brand" name="brand-name">
            {brands.map((item) => <option value={item}>{item}</option>)}
          </select>
          <button id="clear-brand">Clear</button>
        </div>
      </div>
    </div>
    <table id="desktop-products">
      <colgroup>
        <col id="name-col" />
        <col id="detail-col" />
        <col id="category-col" />
        <col id="dosage-col" />
        <col id="brand-col" />
      </colgroup>
      <tr>
        <th class="name">Product Name</th>
        <th class="details">Product Details</th>
        <th class="category">Therapeutic Category</th>
        <th class="form">Dosage Form</th>
        <th class="brand">Brand Name</th>
      </tr>
      {
        list.map((drug, index) => (
          <tr
            class={(index + 1) % 2 === 0 ? "grey" : "white"}
            id={drug.description}
          >
            <td>{drug.description}</td>
            <td>
              <div class="detail-row">
                <div class="desktop-mini-column-left">
                  <h6>NDC:</h6>
                </div>
                <div class="desktop-mini-column-right">
                  <p>{drug.NDC}</p>
                </div>
              </div>
              <div class="detail-row">
                <div class="desktop-mini-column-left">
                  <h6>Quantity:</h6>
                </div>
                <div class="desktop-mini-column-right">
                <p>{drug.quantity}</p>
              </div>
              </div>
              <div class="detail-row">
                <div class="desktop-mini-column-left">
                  <h6>Label:</h6>
                </div>  
                <div class="desktop-mini-column-right">
                <a target="_blank" rel="noopener noreferrer" href={drug.url}>
                  Link
                </a>
              </div>
              </div>
            </td>
            <td>{drug.category}</td>
            <td>{drug.form}</td>
            <td>{drug.brand}</td>
          </tr>
        ))
      }
      <!-- <tr id={"AMPHETAMINE SUFATE 5MG 100"}>
          <td>AMPHETAMINE SUFATE 5MG 100</td>
          <td>
            <div class="detail-row"><h6>NDC</h6><p>43547-0457-10</p></div>
            <div class="detail-row"><h6>Quantity</h6><p>100</p></div>
            <div class="detail-row">
              <h6>Label</h6><a
                href={"https://dailymed.nlm.nih.gov/dailymed/drugInfo.cfm?setid=89c5b52f-3c2a-41d5-8624-9ee51c512c72"}
                >Link</a
              >
            </div>
          </td>
          <td
            >Narcolepsy/Attention Deficit Disorder with Hyperactivity/Exogenous
            Obesity</td
          >
          <td>Tablet</td>
          <td>Evekeo</td>
        </tr>
        <tr id="BENAZEPRIL HCL 20MG 100">
          <td>BENAZEPRIL HCL 20MG 100</td>
          <td>
            <div class="detail-row"><h6>NDC</h6><p>43547-0337-10</p></div>
            <div class="detail-row"><h6>Quantity</h6><p>100</p></div>
            <div class="detail-row">
              <h6>Label</h6><a
                href={"https://dailymed.nlm.nih.gov/dailymed/drugInfo.cfm?setid=bb91223e-ffa5-4a3a-b191-fe121250c20c"}
                >Link</a
              >
            </div>
          </td>
          <td>Hypertension</td>
          <td>Tablet</td>
          <td>Lotensin</td>
        </tr> -->
      <!-- Add more rows as needed -->
    </table>
    <div id="mobile-products">
      {
        list.map((drug, index) => (
          <div
            class={(index + 1) % 2 === 0 ? "grey mobile-row" : "white mobile-row"}
            id={drug.description} 
          >
            <div class="mini-detail-title">
              <h4>{drug.description}</h4>
            </div>
            <div class="mini-detail-container">
              <div class="mini-detail-row">
                <div class="mini-detail-column-left">
                  <h6 class="mobile">Description</h6>
                </div>
                <div class="mini-detail-column-right">
                  <h6 class='mobile-category'>{drug.category}</h6>
                </div>
              </div>
              <div class="mini-detail-row">
                <div class="mini-detail-column-left">
                  <h6>NDC</h6>
                </div>
                <div class="mini-detail-column-right">
                  <h6 class="mobile-ndc">{drug.NDC}</h6>
                </div>
              </div>
              <div class="mini-detail-row">
                <div class="mini-detail-column-left">
                  <h6>Quantity</h6>
                </div>
                <div class="mini-detail-column-right">
                  <h6 class="mobile-quantity">{drug.quantity}</h6>
                </div>
              </div>
              <div class="mini-detail-row">
                <div class="mini-detail-column-left">
                  <h6>Dosage Form</h6>
                </div>
                <div class="mini-detail-column-right">
                  <h6 class="mobile-form">{drug.form}</h6>
                </div>
              </div>
              <div class="mini-detail-row">
                <div class="mini-detail-column-left">
                  <h6>Brand Name</h6>
                </div>
                <div class="mini-detail-column-right">
                  <h6 class="mobile-brand">{drug.brand}</h6>
                </div>
              </div>
              <div class="mini-detail-row">
                <div class="mini-detail-column-left">
                  <h6>Label</h6>
                </div>
                <div class="mini-detail-column-right">
                  <a target="_blank" rel="noopener noreferrer" href={drug.url}>
                    Link
                  </a>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </CenteredMainLayout>
  <Spacer />
  <Footer />
</Layout>
<style>
  main {
    margin: 50px auto auto auto;
    padding: 1rem;
    width: 70%;
    /* max-width: calc(100% - 2rem); */
  } 

  #filter{
     margin-bottom: 60px;
  }

  #select-therapy, #select-brand {
    width: 100%;
  }
  
  .select-container{
    display: flex; 
    button{
      width: fit-content;
      margin:  0 0 0 4px;
    }
  }

  @media only screen and (min-width: 1440px) {
    main {
      max-width: 1280px;
    }
  }

  @media only screen and (min-width: 981px) {
    #mobile-products {
      display: none;
    }
    #desktop-products {
      display: block;
    }
    .desktop-mini-column-left{
      min-width: 66px;
      white-space: nowrap;
    }
    .desktop-mini-column-right{
      p{
        text-wrap: nowrap;
      }
    }
  }
  @media only screen and (max-width: 980px) {
    #mobile-products {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    #desktop-products {
      display: none;
    }
    #search{
      padding: 0 28px;
    }
    #filter{
      padding: 0 28px;
    }
    .mobile-row {
      display: flex;
      flex-direction: column;
      padding: 2px 20px 12px 20px; 
    }
    .mini-detail-container {
      display: flex;
      flex-direction: column;
    }
    .mini-detail-row {
      display: flex;
    }
    .mini-detail-title {
      padding-left: 8px;
    }
    .mini-detail-column-left {
      display: flex;
      flex-direction: column;
      width: 20%;
      min-width: 100px;
      max-width: 145px;
      
      h6 {
        color: rgb(122, 122, 122);
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 8px 0;
        padding-left: 8px; 
      }
     
    }
    .mini-detail-column-right {
      display: flex;
      flex-direction: column;
      width: 79%;
      h6,
      a {
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 12px 0;
        padding-left: 8px;
      }
    }
  }

  table {
    table-layout: fixed;
    overflow-x: auto;
    border-spacing: 0;
    width: 100%;

    h6 {
      font-size: 14px;
      margin: 0;
      padding-right: 4px;
    }
    p {
      font-size: 14px;
      margin: 0;
    }
  }
  col {
    width: 20%;
  }
  th {
    padding: 0;
    text-align: left;
    word-wrap: break-word;
  }
  td {
    vertical-align: top;
    word-wrap: break-word;
    padding: 16px;
  }
  td.detail-row {
    padding-right: 1rem;
  }
  a {
    font-size: 14px;
  }
  tr {
    height: 0;
  }
  .detail-row {
    display: flex;
    margin-bottom: 4px; 
  }

  .grey {
    background-color: #eee;
  }
  .white {
    background-color: #fff;
  }
  #searchbar {
    width: 100%;
    height: 28px;
    /* margin-top: 100px; */
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  #brand-container {
    margin-top: 12px;
  }
  #searchbar:focus {
    font-size: 16px;
  }
  #searchbar::placeholder {
    font-size: 16px;
    margin-top: 10px;
    /* padding-bottom:20px; */
    /* position: relative;
    top: 4px; */
  }
  input:focus::-webkit-input-placeholder {
    color: red;
    position: relative;
    top: -400px;
  }
</style>
<script>
  const searchbar = document.getElementById("searchbar");
  const selectTherapy = document.getElementById("select-therapy");
  const selectBrand = document.getElementById("select-brand");
  const clearTherapy = document.getElementById("clear-therapy");
  const clearBrand = document.getElementById("clear-brand");
  const tableRows = document.getElementsByTagName("tr");
  const table = document.getElementById("desktop-products");
  const mobileRows = document.querySelectorAll(".mobile-row");

  searchbar.addEventListener("input", (e) => {
    console.log("click!");
  });

  clearTherapy.addEventListener("click", (e) => {
    const select = document.getElementById("select-therapy");
    select.value = null;
    onFilterHandler(e);
  });
  clearBrand.addEventListener("click", (e) => {
    const select = document.getElementById("select-brand");
    select.value = null;
    onFilterHandler(e);
  });
  const onFilterHandler = (e) => { 
    if ( window.getComputedStyle(table).display === 'none') {
      for (let i = 0; i < mobileRows.length; i++){
        const row = mobileRows[i];
        const text = row.id;
        const category = row.querySelector(".mobile-category").innerText;
        const brand = row.querySelector(".mobile-brand").innerText;
        const categoryBoolean =
          selectTherapy.value === "" ? true : category === selectTherapy.value;
        const brandBoolean =
          selectBrand.value === "" ? true : brand === selectBrand.value;
        const categoryFilter = categoryBoolean && brandBoolean;
        const textMatched = text
          .toUpperCase()
          .indexOf(searchbar.value.toUpperCase());
        if (textMatched > -1 && categoryFilter) {
          row.style.display = "flex";
        } else {
          row.style.display = "none";
        } 
      }
    }
    else{
      for (let i = 1; i < tableRows.length; i++) {
        const row = tableRows[i];
        const text = row.id;
        const category = row.cells[2].innerText;
        const brand = row.cells[4].innerText;
        const categoryBoolean =
          selectTherapy.value === "" ? true : category === selectTherapy.value;
        const brandBoolean =
          selectBrand.value === "" ? true : brand === selectBrand.value;
        const categoryFilter = categoryBoolean && brandBoolean;
        const textMatched = text
          .toUpperCase()
          .indexOf(searchbar.value.toUpperCase());
        if (textMatched > -1 && categoryFilter) {
          row.style.display = "table-row";
        } else {
          row.style.display = "none";
        }
      }
    }
  };
  searchbar.addEventListener("input", onFilterHandler);
  selectTherapy.addEventListener("change", onFilterHandler);
  selectBrand.addEventListener("change", onFilterHandler);

</script>
