---
const { location, address, phone, email, website, url } = Astro.props;
---

<div class="info-column">
  <span class="info-type-row">
    <h3 class="locations">{location}</h3>
  </span>
  <span id="location-row" class="info-type-row">
    <img class="location-image" src="/prinston/location.png" />
    <p>{address}</p>
  </span>
  <span class="info-type-row">
    <img class="phone" src="/prinston/phone.png" />
    <p class="phone-number">{phone}</p>
  </span>
  <span class="info-type-row">
    <img class="mail" src="/prinston/mail.png" />
    <p>{email}</p>
  </span>
  {
    website && (
      <span class="info-type-row">
        <img class="website" src="/prinston/url.png" />
        <a href={url}>{website}</a>
      </span>
    )
  }
</div>
<style>
  p {
    font-weight: 100;
    font-size: 16px;
    word-wrap: break-word;
    width: 100%;
    margin: 0;
    color: rgb(192, 206, 253);
    white-space: pre-line;
  }

  a {
    color: #8e8db6;
  }

  a[href^="tel"] {
    text-decoration: inherit;
    color: inherit;
  }

  p[href^="tel"] {
    text-decoration: inherit;
    color: inherit;
  }

  img {
    display: flex;
    flex-direction: column;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 4px;
  }

  #location-row {
    align-items: start;
  }

  .info-column {
    /* width: 50%; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: block;
    /* width: 306px; */
    margin-right: 24px;
  }

  .info-type-row {
    display: flex;
    align-items: center;
  }

  .locations {
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-bottom: 0;
  }

  .website,
  .mail,
  .phone {
    padding-top: 3px;
  }

  .phone-number {
    color: white; /* Inherit text color of parent element. */
    text-decoration: none; /* Remove underline. */
    /* Additional css `propery: value;` pairs here */
  }
  @media screen and (max-width: 387px) {
    p {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 1300px) and (min-width: 873px) {
    .info-column {
      /* width: 50%; */
      /* margin-right: 24px; */
    }
  }
</style>
