---
import Contact from "./contact.astro";

const address = [
  {
    location: "Prinston Pharm - HQ",
    address: "700 Atrium Dr,\n Suite B, \nSomerset, NJ 08873",
    phone: "(609) 655-1688",
    email: "contact@prinstonpharm.com",
    website: "www.prinstonpharm.com",
    url: "https://www.prinstonpharm.com",
  },
  {
    location: "Prinston Labs - Manufacturing",
    address: "3241 Woodpark Boulevard,\n Charlotte,\n NC 28206",
    phone: "(609) 655-1688",
    email: "customerservice@solcohealthcare.com",
  },
  {
    location: "Solco - Distribution Lab and Manufacturing",
    address: "700 Atrium Dr,\n Suite A,\n Somerset, NJ 08873",
    phone: "(855) 581-9688",
    email: "customerservice@solcohealthcare.com",
    website: "www.solcohealthcare.com",
    url: "https://www.solcohealthcare.com",
  },
  {
    location: "Huahai U.S. Inc.",
    address: "700 Atrium Dr,\n Suite C,\n Somerset, NJ 08873",
    phone: "(609) 664-2220",
    email: "effie_luo@huahaipharm.com",
    website: "www.en.huahaipharm.com/index.aspx",
    url: "https://www.en.huahaipharm.com/index.aspx",
  },
];
---

<div id="footer">
  <div id="footer-content">
    <div id="footer-hero">
      <div id="logo-column" class="footer-column">
        <img id="footer-logo" src={"/prinston/logo.png"} alt="logo" />
      </div>
      <div id="right-column">
        <div id="left-column" class="footer-column">
          <h3 class="category-titles">Our Locations</h3>
          <div class="info-contact-info">
            {
              address.map(
                ({ location, address, phone, email, website, url }) => (
                  <Contact
                    location={location}
                    address={address}
                    phone={phone}
                    email={email}
                    website={website}
                    url={url}
                  />
                )
              )
            }
          </div>
          <div class="info-contact-info2">
            {
              address
                .slice(0, 2)
                .map(({ location, address, phone, email, website, url }) => (
                  <Contact
                    location={location}
                    address={address}
                    phone={phone}
                    email={email}
                    website={website}
                    url={url}
                  />
                ))
            }
          </div>
          <div class="info-contact-info2">
            {
              address
                .slice(2, 4)
                .map(({ location, address, phone, email, website, url }) => (
                  <Contact
                    location={location}
                    address={address}
                    phone={phone}
                    email={email}
                    website={website}
                    url={url}
                  />
                ))
            }
          </div>
        </div>
        <div id="social-links">
          <h3 class="category-titles">Follow Us</h3>
          <div id="media-container">
            <a
              href="https://www.linkedin.com/company/prinston-pharmaceutical-inc-/"
              target="_blank"
            >
              <img
                class="social-media-icons"
                src="/prinston/linkedin-i.png"
                alt="Icon"
              />
            </a>
            <a href="https://x.com/PrinstonPharm" target="_blank">
              <img
                class="social-media-icons"
                src="/prinston/twitter-i.png"
                alt="Icon"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="social-links">
      <h4>Follow Us</h4>
      <div>
        <a
          href="https://www.linkedin.com/company/prinston-pharmaceutical-inc-/"
          target="_blank"
        >
          <img
            class="social-media-icons"
            src="/prinston/linkedin-i.png"
            alt="Icon"
          />
        </a>
        <a href="https://x.com/PrinstonPharm" target="_blank">
          <img
            class="social-media-icons"
            src="/prinston/twitter-i.png"
            alt="Icon"
          />
        </a>
      </div>
    </div> -->
    <div id="credit">
      <div>
        <a target="_blank" href="https://icons8.com/icon/12580/email">Mail</a> icon
        by
        <a target="_blank" href="https://icons8.com">Icons8. </a>
      </div>
      <a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">
        Arrow icons created by Freepik - Flaticon</a
      >
    </div>
  </div>
</div>

<style>
  h4 {
    font-weight: 100;
    color: white;
    margin-bottom: 8px;
  }
  #footer {
    display: flex;
    flex-direction: column;
    background-color: #211f71;
    padding-top: 100px;
  }

  #footer-content {
    width: 100%;
    margin: auto;
  }

  #footer-hero {
    display: flex;
    max-width: calc(100% - 40px);
    margin: auto;
    justify-content: space-between;
  }

  #social-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }

  #left-column {
    flex-direction: column;
    justify-content: center;
  }

  #right-column {
    display: flex;
    justify-content: space-between;
  }

  #footer-logo {
    height: 80px;
    width: auto;
    /* margin-top: 15px; */
  }

  #media-container {
    padding-top: 16px;
  }

  .category-titles {
    font-weight: 400;
    font-size: 28px;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
  }
  .social-media-icons {
    width: 25px;
  }
  .info-contact-info {
    display: none;
    /* justify-content: space-between; */
  }
  .info-contact-info2 {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  a {
    text-decoration: none;
    color: #8e8db6;
  }

  #credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8e8db6;
    margin-top: 50px;
    margin-bottom: 1em;
  }
  .footer-column {
    display: flex;
  }

  @media screen and (max-width: 688px) {
    #footer {
      padding-top: 50px;
    }
    .info-contact-info {
      display: flex;
      flex-direction: column;
    }
    .info-contact-info2 {
      display: none;
    }
    #logo-column {
      margin-left: -5px;
      margin-bottom: 24px;
    }
    #right-column {
      display: flex;
      flex-direction: column;
    }
    #footer-hero {
      margin: 2em auto 2em auto;
      flex-direction: column;
      /* padding: 1rem; */
      /* width: 85%; */
    }
    #social-links {
      margin-top: 36px;
      align-items: start;
    }
  }

  @media screen and (max-width: 840px) {
    /* .info-contact-info {
      display: flex;
      flex-direction: column;
    }
    .info-contact-info2 {
      display: none;
    } */
    #logo-column {
      margin-left: -5px;
      margin-bottom: 24px;
    }
    #right-column {
      display: flex;
      flex-direction: column;
    }
    #footer-hero {
      margin: 2em auto 2em auto;
      flex-direction: column;
      /* padding: 1rem; */
      /* width: 85%; */
    }
    #social-links {
      margin-top: 36px;
      align-items: start;
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 841px) {
    #logo-column {
      margin-bottom: 24px;
      margin-left: -5px;
    }
    #footer-hero {
      margin: 2em auto 2em auto;
      flex-direction: column;
      /* padding: 1rem; */
      /* width: 85%; */
    }
  }

  @media (min-width: 48rem) {
    #footer-hero {
      max-width: calc(100% - 64px);
    }
  }

  @media (min-width: 64rem) {
    #footer-hero {
      max-width: calc(100% - 128px);
    }
  }

  @media (min-width: 90rem) {
    #footer-hero {
      max-width: calc(100% - 192px);
    }
  }

  @media (min-width: 104rem) {
    #footer-hero {
      max-width: 1552px;
    }
  }
</style>
